<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <div class="herosection">
    <div class="hero-content">
      <app-navbar></app-navbar>
      <div class="hero-tablet">
        <div class="spaser"></div>
        <div class="content">
          <h3>GREETINGS!</h3>
          <h1>MEET FAIQ SARWAR</h1>
          <label>With a background in full-stack development and mobile app creation</label>
        </div>
      </div>
    </div>
  </div>
  <section class="section-one">
    <h2>About</h2>
    <div class="section-one-partition">
      <div class="section-one-part1">
        <div class="about-image"></div>
      </div>
      <div class="section-one-part2">
        <div class="about-discription">
          <p>Experienced Full Stack Developer (Web and Mobile application) With over 2 years of proven experience, I
            excel at designing and developing efficient, scalable solutions. I thrive in collaborative environments,
            ensuring projects meet milestones on time and within budget. Proficient in integrating third-party services,
            optimizing performance, and prioritizing security, I'm committed to staying updated with industry trends and
            emerging technologies to consistently deliver high-quality, maintainable, and secure code. Let's work
            together to elevate your projects and achieve your goals!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-two">
    <h2 class="skills">Skills</h2>
    <p class="about-skills">As a student, I am in a continuous journery of growth and skills development some of the
      competences I've acquired encompass</p>

    <div class="section-two-contant">
      <div class="section-two-part1">
        <h2>Programming Languages</h2>
        <p>I possess a diverse skill set encompassing Python, PHP, and Database in MySQL for robust backend solutions.
          In web development, I wield HTML5, CSS3, JavaScript, and TypeScript to create captivating and responsive
          interfaces. I have also worked with the other languages like C++, C and java. My expertise ensures that
          user-focused design, making me a dynamic asset for any project.</p>
      </div>
      <div class="section-two-part2">
        <h2>FrameWorks</h2>
        <p>As a dedicated student, my quest for knowledge is unceasing and I've cultivated a diverse skill set that
          extends various frameworks including Angular,Vue, React, Laravel Bootstrap, jquery, TaredCSS and Selenium.
          These tools have empowered me to design dynamic user-friendly applications and websites.</p>
      </div>
    </div>
  </section>
  <section class="section-three">
    <h2>Services</h2>
    <div class="wrapper">
      <div class="item"><img alt="" src="../assets/Media/angular-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/css-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/java-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/js-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/laravel-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/php-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/postman-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/react-removebg-preview.png" width="120" height="120"></div>
      <div class="item"><img alt="" src="../assets/Media/vue.png" width="120" height="120"></div>
    </div>
  </section>
  <section class="section-four">
    <h2>Education</h2>
    <div class="main-education">
      <div class="side-bar">
        <div class="one-circle"><label>1</label></div>
        <div class="line-breaks"></div>
        <div class="one-circle"><label>2</label></div>
        <div class="line-breaks line-break1"></div>
        <div class="one-circle"><label>3</label></div>
      </div>
      <div class="education-content">
        <div class="matric">
          <h3>Gvot. High School Chawinda (Matric)</h3>
          <label>2016 - 2018</label><br>
          <label>Completed</label>
        </div>
        <div class="Inter">
          <h3>Punjab Group of Colleges, Chawinda (Campus)</h3>
          <label>2018 - 2020</label><br>
          <label>Completed</label>
        </div>
        <div class="Bachlor">
          <h3>Riphah International University, Islamabad (Campus)</h3>
          <label>2021 - 2024</label><br>
          <label>In Progress (Semester 6)</label>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</body>

</html>